
body {
    font-family: "Inter", sans-serif;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1px;
}


input[type="text"] {
    width: 73%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 15px;
    transition: 0.2s;
}

input[type="text"]::placeholder {
    color: #ddd;
}

input[type="text"]:focus {
    background: rgba(255, 255, 255, 0.28);
}

#eklebtn {
    width: 23%;
    padding: 12px;
    margin-left: 5px;
    border: none;
    border-radius: 8px;
    background: #00e676;
    color: #1b1b1b;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease;
    font-weight: 600;
}

#eklebtn:hover {
    background: #00c667;
}

ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
}

li {
    background: rgba(255, 255, 255, 0.12);
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s;
}

li:hover {
    background: rgba(255, 255, 255, 0.2);
}

li input[type="checkbox"] {
    transform: scale(1.2);
    margin-left: 10px;
    cursor: pointer;
}

li button {
    background: #ff5252;
    border: none;
    padding: 8px 14px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    margin-left: 10px;
}

li button:hover {
    background: #ff2e2e;
}
